main {
	background-color: blanchedalmond;
	color: black;
}

.introduction {
	font-size: 30px;
	color: orange;
}

body {
	font-size: 20px;
	font-family: Arial;
}

button {
	font-size: 20px;
}

.specialization {
	 font-weight: 800;
	 
}

.JAVA {
	font-weight: 600;
}

.advice {
	font-weight: 600;
}